* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16pt;
    user-select: none;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

li {
    border-radius: 3px;
    padding: 10px 10px;
    margin: 5px 0px;
}

body {
    background-color: rgb(243, 243, 243);
    padding: 0 0 50px 0;
}

main {
    width: 100%;
    display: flex;
    justify-content: start;
}

.side {
    width: 300px;
    background-color: rgb(243, 243, 243);
    padding: 0px 20px;
}

.account-menu {
    display: flex;
    border-radius: 5px;
    padding: 10px 10px;
}

.account-menu:hover {
    background-color: rgb(220, 220, 220);
}

.account-menu img {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.account-name {}

.account-mail {}

.account-info {
    width: 100%;
    padding: 10px 15px;
    font-weight: bold;
}

.menu {}

.menu li{
    display: flex;
}

.menu li img {
    height: 28px;
}

.menu li p{
    padding-left: 10px;
}

.menu li:hover {
    background-color: rgb(220, 220, 220);
}

.content-area {
    margin: 0 0 0 50px;
}

.area {
    padding: 0px 10px;
}

.title {
    height: 45px;
    font-size: 25pt;
    font-weight: bold;
    padding: 0px 0px 55px 0px;
}

.title .parent {
    color: rgb(100, 100, 100);
}

.title .parent:hover {
    color: black;
}

.content li {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 900px
}

.content li img {
    width: 30px;
    height: 30px;
    margin: auto 10px;
}

.content .hover-on:hover {
    background-color: rgb(220, 220, 220);
}

.content-icon-text {
    display: flex;
    width: 900px;
}

.content-icon-text img{
    padding: 0;
    margin: 0;
    width: 30px;
}

.content-text {
    padding: 0px 10px;
    margin: auto 0px;
}

.content-title {
    font-weight: bold;
}

.content-description {
    font-size: 12pt;
}

.content-right-arrow {
    font-size: 20pt;
    margin: auto 10px;
    height: 30px;
    width: 30px;
}

.profile img {
    width: 150px;
    border-radius: 50%;
}

.bar {
    border: 1px solid rgb(200, 200, 200);
    background: rgb(220, 220, 220);
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}

.bar div {
    height: 12px;
    background: rgb(0, 110, 201);
    border-radius: 10px 0 0 10px;
}

/* <div class="bar"><div style="width: 70%;"></div></div> */

.description-on {
    /* height: 500px; */
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}

.mini-content {
    display: flex;
    padding: 5px 0 5px 50px;
}

.mini-content-title {
    width: 250px;
    font-weight: bold;
    font-size: 14pt;
}

.mini-content-description {
    color: rgb(100, 100, 100);
    width: 570px;
    font-size: 14pt;
    padding-right: 50px;
}