 header {
 	width: 100%;
 	height: 85px;
 	position: fixed;
 	background-color: #ffffff;
 	border: 4px solid black;
 	border-top: none;
 	border-right: none;
 	border-left: none;

 }

 a {
 	text-decoration: none;
 	color: black;
 }

 .header_inner {
 	margin: 0px 0px;
 	display: flex;
 	justify-content: flex-start;
 }

 .header_logo {
 	margin-left: 50px;
 	margin-right: 30px;
 }

 .header_subtitle {
 	margin-right: 50px;
 }

 .logo {
 	width: 150px;
 	height: auto;
 }

 .subtitle {
 	font-family: sans-serif;
 	font-size: 10pt;
 	color: black;
 	inline-size: 250px;
 	overflow-wrap: break-word;
 }

 .header_menu {
 	margin-right: 50px;
 	margin-left: 300px;
 }

 .header_ul {
 	display: flex;
 	padding: 0;
 	margin: 0;
 	list-style-type: none;
 }

 .header_li {
 	margin: 25px 50px;
 	inline-size: 100px;
 	text-align: center;
 	font-size: 15pt;
 	color: black;
 }

 body {
 	margin: 0;
 	padding: 0;
 	color: black;
 }

 .main_inner {}

 .portfolio_parent {
 	margin: 100px 0% 100px 0%;
 }

 .portfolio_child {
 	display: flex;
 	justify-content: center;
 }

 .portfolio_grandc {
 	border: 3px solid black;
 	width: 35%;
 	height: 55%;
 	margin: 2% 4%;
 	border-radius: 25px;
 }

 .portfolio_grandc img {
 	width: 100%;
 	height: auto;
 	border-radius: 22px 22px 0px 0px;
 }

 main {
 	padding-top: 90px;
 }

 .card_content {
 	text-align: center;
 }

 .card_title {}

 .cart_excerpt {
 	overflow-wrap: break-word;
 	font-size: 10pt;
 }

 .and_more {
 	text-align: center;
 	text-decoration: underline;
 	font-size: 18pt;
 	font-weight: bold;
 }

 .profile_card {
 	border: 3px solid black;
 	border-radius: 20px;
 	width: 50%;
 	height: 40%;
 	text-align: center;
 	display: flex;
 	justify-content: flex-start;
 	margin: 100px 11% 100px 23%;
	background-color: #ffffff;
 }

 .profile_text {
 	text-align: left;
 	width: 600px;
 	margin: 50px 10px 0px 0px;
 }

 .profile_card img {
 	width: 20%;
 	border-radius: 50%;
 	margin: auto 5%;
 }

 .profile_inner {
	margin: 0%;
	padding: 0%;
 	background-color: rgb(238, 238, 238);
	border: 0.1px solid black;
 }

 hr {
 	border: 2px solid black;
 	margin: 0%;
	padding: 0%;
 }

 html {
 	scroll-behavior: smooth;
 }

 .footer_inner {}

 .footer_logo img {
 	width: 500px;
 	height: auto;
 }

 .footer_logo {
 	text-align: center;
 }

 .footer_credits {}

 .credits_text {
 	text-align: center;
 	font-size: 10px;
 }

 .top_nav_text p {
 	text-align: center;
 	/* padding: 20px auto; */
 	font-size: 15pt;
 	margin: 0%;
 }

 .top_nav_text {
 	background-color: rgb(238, 238, 238);
 }