body {
    background-color: #fff;
    color: #333;
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #3a3632;
    color: #fff;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

main {
    padding: 1rem 5rem;
}

.func_name{
    color: #2e8555;
}